:root { 
--gray_600:#757575; 
--gray_400:#b0b0b0; 
--blue_gray_100:#d9d9d9; 
--blue_gray_100_66:#d9d9d966; 
--blue_300_66:#6b98f866; 
--gray_200_7f:#ededee7f; 
--red_400:#d55f5a; 
--black_900_0c:#0000000c; 
--gray_300:#e1e1e1; 
--gray_50:#f9fafb; 
--gray_100:#f6f6f6; 
--blue_gray_50_4c:#ebedf24c; 
--indigo_100:#c4d1ea; 
--black_900:#000000; 
--blue_gray_800_19:#44465319; 
--deep_orange_300:#f87b6b; 
--deep_orange_200:#f8bb9e; 
--indigo_900:#2c285f; 
--blue_200:#97cefc; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--deep_orange_100:#fdb4b4; 
--black_900_05:#00000005; 
--deep_purple_A200_66:#7265ff66; 
}